## Datasource
spring.datasource.url=jdbc:postgresql://localhost:5432/answersdb
spring.datasource.username=
spring.datasource.password=

## Jpa
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQL9Dialect